.svg-graph {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.caption {
  position: relative;
  font-family: "Roboto Mono", Menlo, Palatino, "Palatino LT STD",
    "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
}

.tooltip {
  position: relative;
  z-index: 9999;
  font-size: 12px;
  border-radius: 3px;
  font-family: "Roboto Mono", Menlo, Palatino, "Palatino LT STD",
    "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  text-align: center;
  /* margin-top: 4rem; */
  margin-top: 7rem; /* to go with bottom = 110 instead of 60 */
}

.tooltipMore {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
}

rect.day-cell:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
